.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
  margin: 16px 0;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
// styles.scss
.card {
  flex: 1 1 220px;
  padding: 12px;
  border-radius: 12px;

  /* glass */
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);

  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);

  color: #f1f5ff;
}
