.overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(4px);
  background: rgba(0,0,0,0.3);
  z-index: 10;
}

.dialog {
  position: fixed;
  top: 70px;
  right: 20px;
  width: 320px;
  border-radius: 8px;
  padding: 16px;
  z-index: 11;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
   background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);

  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
  color: white;
}

.notification {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.notification span {
  font-size: 12px;
  color: gray;
}
